{% extends 'base.html' %}
{% block title %}CatchPity{%endblock title%}
{% block content%}


<div class="container justify-content-center py-5">
    <div class="row">
        <div class="col-8 offset-md-2">
            <h6>Phil Gao</h6>
            <p> 毕业于重庆邮电大学，非科班出身。
                目前主要从事于微软相关的数据工程工作，包括 MSBI,PowerBI,Azure,致力于向Big Data, Machine Leaning 方向发展。<br>
                此博客是由Flask构建而成。<br>
                主要记录探讨自己工作学习中遇到的技术问题，以及自己的日常生活。
            </p>
            <p>联系我:
            <ul>
                <li><a href="https://github.com/PhilGao">Github</a></li>
                <li><a href="https://music.163.com/user/home?id=20153848">NeteaseMusic</a></li>
                <li><a href="https://space.bilibili.com/264800504">Bilibili</a></li>

            </ul>


            </p>
        </div>
    </div>
</div>


{%endblock%}