<!DOCTYPE html>
<html lang="en">
{% from 'macros.html' import static_file %}
<head>
    {% block head %}
    <meta charset="UTF-8">
    {%block scripts%}
    {{static_file('js','js/jquery-3.4.0.min.js')}}
    {{static_file('js','js/popper.min.js')}}
    {{static_file('js','js/bootstrap.min.js')}}
    {{static_file('js','ckeditor/ckeditor.js')}}
    {%endblock scripts%}
    {%block styles%}
    {{static_file('css','css/bootstrap.min.css')}}
    {{static_file('css','css/catchpity.css')}}
    {%endblock styles%}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}base{%endblock title%}</title>
    {% endblock head%}
</head>
<body>
{% block nav%}
<nav class="navbar navbar-light bg-light py-4">
    <div class="container justify-content-sm-around">
        <a class="navbar-brand" href="{{url_for('blog.index')}}">
            <img src="{{url_for('static',filename='favicon.svg')}}" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            CatchPity
        </a>
        <div class="navbar-expand-lg">
            <ul class="navbar-nav">
                <li class="nav-item active mr-2 ">
                    <a class="nav-link" href="{{url_for('blog.index')}}">
                        <small>Home</small>
                    </a>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link" href="{{url_for('blog.tag')}}">
                        <small>Tag</small>
                    </a>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link" href="{{url_for('blog.archive')}}">
                        <small>Archive</small>
                    </a>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link" href="{{url_for('blog.about')}}">
                        <small>About</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="justify-content-center small">
        {% if current_user.is_authenticated %}
        <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome! | {{current_user.username}}
            </button>
            <div class="dropdown-menu dropdown-menu-sm-right">
                <a class="dropdown-item small"  href="{{url_for('admin.post_manage')}}">Manage Posts</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item small" href="{{url_for('auth.logout')}}">Logout</a>
            </div>
        </div>
        {% else %}
        <span class="glyphicon glyphicon-user"></span>
        <a href="{{url_for('auth.login')}} " class="text-dark text-capitalize" type="button">Sign In</a>
        {% endif %}
    </div>
</nav>
{% endblock nav%}
{% block message%}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category,message in messages %}
    {% if category == 'success' %}
        <div class="alert alert-success text-center" role="alert">{{ message }}</div>
    {%elif category == 'error' %}
        <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
    {% endif %}

{% endfor %}
{% endif %}
{% endwith %}
{% endblock message %}


{% block content%}
{% endblock content%}

{% block pager %}
{% endblock pager %}

{% block footer %}
<footer class="text-center">
    <small> &copy; 2019
        <a href="http://flask.pocoo.org/" title="Powered By Flask" class="text-dark">Powered By Flask</a> /
        <a href="https://getbootstrap.com/" title="Theme By BootStrap" class="text-dark">BootStrap</a> |
        <a href="#" title="A Blog of PhilGao" class="text-dark">CatchPity</a>

    </small>
</footer>
{% endblock footer %}
</body>

</html>