{% extends 'base.html' %}
{% block title %}Phillll{%endblock title%}
{% block content%}

<div class="container justify-content-center text-center py-5">

    <div class="row">
        <div class="col-8 offset-md-2">
            <section>
                <h3>
                    {%for category in categorys%}
                    {%if category and category.id % 8 ==0 %}
                    <a href="{{url_for('blog.tagged',category_id=category.id)}}" class="badge badge-primary">{{category.category_name}}</a>
                    {%endif%}
                    {%if category and category.id % 8 ==1 %}
                    <a href="{{url_for('blog.tagged',category_id=category.id)}}" class="badge badge-secondary">{{category.category_name}}</a>
                    {%endif%}
                    {%if category and category.id % 8 ==2 %}
                    <a href="{{url_for('blog.tagged',category_id=category.id)}}" class="badge badge-success">{{category.category_name}}</a>
                    {%endif%}
                    {%if category and category.id % 8 ==3 %}
                    <a href="{{url_for('blog.tagged',category_id=category.id)}}" class="badge badge-danger">{{category.category_name}}</a>
                    {%endif%}
                    {%if category and category.id % 8 ==4 %}
                    <a href="{{url_for('blog.tagged',category_id=category.id)}}" class="badge badge-warning">{{category.category_name}}</a>
                    {%endif%}
                    {%if category and category.id % 8 ==5 %}
                    <a href="{{url_for('blog.tagged',category_id=category.id)}}" class="badge badge-info">{{category.category_name}}</a>
                    {%endif%}
                    {%if category and category.id % 8 ==6 %}
                    <a href="{{url_for('blog.tagged',category_id=category.id)}}" class="badge badge-light">{{category.category_name}}</a>
                    {%endif%}
                    {%if category and category.id % 8 == 7 %}
                    <a href="{{url_for('blog.tagged',category_id=category.id)}}" class="badge badge-dark">{{category.category_name}}</a>
                    {%endif%}
                    {%endfor%}
                </h3>
            </section>
        </div>
    </div>
</div>


{%endblock content%}